* {
  font-family: 'Open Sans', sans-serif;
}
body{
    background-image: url("https://jooinn.com/images/blue-cloudy-sky.jpg");
    background-attachment:fixed;
    background-size: cover;
    backdrop-filter: blur(10px);
    height: 100vh;
}
.heading{
    background-color: rgb(29, 3, 95);
}
.day1-card{
    background-color: rgb(165, 100, 21);
}
.current-weather img {
  max-width: 120px;
  margin-top: -15px;
}